H1{
	color:lightblue;
	font-family:algerian;
}
P{
	color:white;
	font-family:times new roman;
	font-style:italic;
	font-size:20px;
	
}
body{
	background-image: url(https://w.forfun.com/fetch/fc/fc813e57424d1ad9576f9066812f670f.jpeg);
  background-color: lightgrey;
  font-family: sans-serif;
}

H2{
color:lightgreen;
font-family:algerian;
}

